<div class="parent">
    <main class="main-login">
        <div class="left-login">
            <h1>Login<br>And join our team</h1>
            <img src="https://i.postimg.cc/YC13sX2Z/Astronaut-cuate.png" class="left-login-img" alt="astronaut image">
        </div>

        <div class="right-login">
            <div class="card-login">
                <h1>Login</h1>
                <div class="textfield">
                    <label for="user">User</label>
                    <input type="text" id="user" [(ngModel)]="loginObj.userName" placeholder="User">
                </div>

                <div class="textfield">
                    <label for="password">Password</label>
                    <input type="password" id="password" [(ngModel)]="loginObj.password" placeholder="Password">
                </div>

                <button class="btn-login" (click)="onLogin()">Login</button>
            </div>
        </div>
    </main>
</div>